
body{
    font-family: 'Lato', sans-serif;
}
.contenedor{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
.inicio{
    background-image: url(../img/banner.jpg);
    color: white;
    height: 110vh;
   /* font-family: Arial, Helvetica, sans-serif;*/
}
.dos{
    text-align: center;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 7rem;  
    padding-bottom: 12rem;
}
.barra1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.9rem;  
    padding-bottom: 0.9rem;
}
.barra h1{
    font-size: 2rem;
}
.nave a{
    color: white;
   /* font-family: sans-serif;*/
    padding-right: 2rem; 
    text-decoration: none;
}
/*footer*/
.final{
    background-color: black;
    color: white;
    /*font-family: Arial, Helvetica, sans-serif;*/
}
.imagenb{
    width: 35rem;
}
.arriba{
    margin-top: 3rem;
}
.blog1{
  color:black; 
  /*font-family: Arial, Helvetica, sans-serif; */
}
.blog2{
    color:black; 
    /*font-family: Arial, Helvetica, sans-serif;*/ 
    margin-top:2rem;
  }
.boton{
color: white;
background-color: black;
font-size: 0.8rem;
padding: 0.3rem;
text-align: left;
width: 9rem;
margin-top:3rem;
margin-bottom: 3rem;
text-align: center;
}

.fw-300{
    font-weight: 300; 
    font-weight: bold;
}

.texto-centrado{
    text-align: center;
}

.cambio-seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.blog{
    flex-basis: 60%;
}

.testimoniales{
    flex-basis: calc(40% - 1rem);
}

.blog-elementos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.blog-elementos img{
    width: 40rem;
}

.texto-blog{
    flex-basis: calc(60% - 2rem);
    line-height: 3;
}

.texto-blog p{
    line-height: 1.5;
}

h3{
    margin-top: 1rem;
    font-weight: 500;
    font-weight: bold;
}

.precio{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-weight: 700;
}

.negro{
    font-weight: bold;
}

.boton_personalizado{
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    width: 10rem;
  }

  .boton_personalizado2{
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: brown;
  }


  
/* Tercera parte (Fa) */
h1{
    text-align: center;
}
.acomodo{
    margin-top: 3rem;
    font-size: 14px;
}
.image{
    width: 20rem;
    flex-basis: calc(30%)
}
.part{
    display: flex;
    margin-bottom: 3rem;
}
.text{
    margin-left: 1.5rem;
    line-height: 2.7;
    flex-basis: calc(70%);
}
.text h2{
    margin: 0;
}
/* Termino sho*/
